<!-- <app-search-location-compo></app-search-location-compo>
<app-search-category-compo></app-search-category-compo> -->
<!-- <app-stepper-compo></app-stepper-compo> -->
<app-nav-compo></app-nav-compo>

<!-- <app-stepper-compo></app-stepper-compo> -->
<!-- <app-contact-compo></app-contact-compo> -->
<app-booking-compo></app-booking-compo>
 <!-- <app-contact-compo></app-contact-compo> -->
 <!-- <app-forget-password-compo></app-forget-password-compo> -->

<app-footer-compo></app-footer-compo>


<!-- <app-entrance-view-compo></app-entrance-view-compo> -->