<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sort By
      </mat-panel-title>
      <mat-panel-description>
        Ratings
      </mat-panel-description>
      <mat-panel-description>
        Prices
      </mat-panel-description>
      <mat-panel-description>
        Seats
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="8:1">
      <mat-grid-tile>
        <app-rating-check-compo></app-rating-check-compo>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-price-check-compo></app-price-check-compo>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-table-capacity-compo></app-table-capacity-compo>
      </mat-grid-tile>

    </mat-grid-list>






  </mat-expansion-panel>

</mat-accordion>