<mat-grid-list cols="3" rowHeight="6:1" class="footerstart" >
  <mat-grid-tile>Restaurant Booking</mat-grid-tile>
  <mat-grid-tile>
     <span><img src="../../../assets/fb.jpeg" href="#" class="i"></span>
     <span><img src="../../../assets/linkdln.jpeg" href="#" class="i"></span>
     <span><img src="../../../assets/pinterest.jpeg" href="#" class="i"></span>
     <span><img src="../../../assets/twitter.jpeg" href="#" class="i"></span>
     <span><img src="../../../assets/whatsaap.jpeg" href="#" class="i"></span>
  </mat-grid-tile>
  <mat-grid-tile>Xceedance, Gurugram.</mat-grid-tile>
  
</mat-grid-list>


<mat-grid-list cols="1" rowHeight="24:1" class="footerend" >
    <mat-grid-tile>
        <p>© Copyright 2018. VVA Group.</p> 
    </mat-grid-tile>
  </mat-grid-list>